services:
  - type: web
    name: projekt-crud-kino
    runtime: node
    plan: starter
    buildCommand: npm ci
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DB_PATH
        value: /var/data/app.db
    disk:
      name: data
      mountPath: /var/data
      sizeGB: 1
